$text-color:#666666;

body{
  font-family: 'Roboto', sans-serif;
  color: $text-color;
  text-transform: uppercase;
}

h1{
  font-size: 1.7em;
  margin-bottom: 1em;
}

.add{

  margin: 0;
  width: 12em;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  
  p{
    padding-top: 1em;
  }
}

.bg-img{
  height: 340px;
  width: 100%;
  background-size: cover;
  background: url(../img/priroda.jpg) no-repeat;
  background-position: center center;
  filter: blur(2px);
  
}



.container-xl{
    margin-top: -15em;

    position: relative;
    
}

.desc{
  color:white;
  border-bottom: 1px solid white;
  margin: 0 15px;
}

.card-body{
  padding: 0.8em;
}

.row{
  margin-right: 0;
  margin-left: 0;
}

.card{
  margin-top: 1.5em;
  height: 13em;

  &:hover{
    transform: translateY(-10px);
    transition-duration: 0.5s;
    box-shadow: 1px 1px 10px $text-color;
    display: block !important;
  }
}

.card:hover .hidden{
  display: block;
}

.hidden{
  display: none;
}

.card-img-top{
    width: 100%; 
    height: 10em; 
    object-fit: cover; 
}

@media only screen and (max-width: 576px){
  .card-img-top{
    height:15em;
  }

  .card{
    height:18em;
  }
}